<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvchenglong.blogbackend.mapper.UserMapper">

    <insert id="insert">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="sex != null">sex,</if>
            <if test="info != null">info,</if>
            <if test="birth != null">birth,</if>
            <if test="salt != null">salt,</if>
            <if test="ip != null">ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="sex != null">#{sex},</if>
            <if test="info != null">#{info},</if>
            <if test="birth != null">#{birth},</if>
            <if test="salt != null">#{salt},</if>
            <if test="ip != null">#{ip},</if>
        </trim>
    </insert>

    <insert id="insertForRegister">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="sex != null">sex,</if>
            <if test="info != null">info,</if>
            <if test="birth != null">birth,</if>
            <if test="salt != null">salt,</if>
            <if test="ip != null">ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="sex != null">#{sex},</if>
            <if test="info != null">#{info},</if>
            <if test="birth != null">#{birth},</if>
            <if test="salt != null">#{salt},</if>
            <if test="ip != null">#{ip},</if>
        </trim>
    </insert>

    <insert id="insertForLogin">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="sex != null">sex,</if>
            <if test="info != null">info,</if>
            <if test="birth != null">birth,</if>
            <if test="salt != null">salt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="sex != null">#{sex},</if>
            <if test="info != null">#{info},</if>
            <if test="birth != null">#{birth},</if>
            <if test="salt != null">#{salt},</if>
        </trim>
    </insert>

    <select id="selectByUsername" resultType="com.lvchenglong.blogbackend.entity.User">
        select * from user where username = #{username}
    </select>

    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>

    <update id="updateById">
        update user
        <set>
            --  确保去掉最后一个逗号，避免语法错误
            <trim suffixOverrides=",">
                <if test="username != null">username = #{username},</if>
                <if test="password != null">password = #{password},</if>
                <if test="name != null">name = #{name},</if>
                <if test="phone != null">phone = #{phone},</if>
                <if test="email != null">email = #{email},</if>
                <if test="avatar != null">avatar = #{avatar},</if>
                <if test="role != null">role = #{role},</if>
                <if test="sex != null">sex = #{sex},</if>
                <if test="info != null">info = #{info},</if>
                <if test="birth != null">birth = #{birth},</if>
            </trim>
        </set>
        <where>
            id = #{id}
        </where>
    </update>


    <update id="updateUser">
        update user
        <set>
            <if test="password != null">password = #{password},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateEmail">
        update user
        <set>
            <if test="email != null">email = #{email},</if>
        </set>
    </update>
    
    <update id="updateUserIp">
        update user
        <set>
            <if test="ip != null">ip = #{ip},</if>
        </set>
        <where>
            id = #{userId}
        </where>
    </update>


    <select id="selectById" resultType="com.lvchenglong.blogbackend.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="selectAll" resultType="com.lvchenglong.blogbackend.entity.User">
        select * from user
        <where>
            <if test="username != null"> and username = #{username}</if>
            <if test="name != null"> and name like concat('%',#{name},'%')</if>
        </where>
        -- 倒序，把最新的数据先展示
        order by id desc
    </select>

</mapper>